<!DOCTYPE html>
<html>
    <style>
        *{
            padding: 0;
            margin: 0;
            border: 0;
            overflow: hidden;
            box-sizing: border-box;
        }
    </style>
<body>

<canvas id="canvas"> 
Your browser does not support the HTML5 canvas tag.
</canvas>

<script>
    const canvas = document.querySelector('canvas');

    const gl = canvas.getContext('webgl');

    canvas.width = 500;
    canvas.height = 500;
    if (!gl) {
        throw new Error('WebGL not supported');
    }
    //画板
    gl.viewport(0, 0, canvas.width, 300)
    // 设置背景色
    gl.clearColor(1.0, 1.0, 0.0, 2.0)
    // 清空缓冲区
    gl.clear(gl.COLOR_BUFFER_BIT)
    
    let _li = {
        n:1,
        a:2,
        m:3,
        e:4
    }
    Object.values(_li).forEach((t)=>{
        console.log(t)
    })
    Object.keys(_li).forEach((t)=>{
        console.log(t,_li[t])

    })
    // Object.defineProperty(_li, "name", {
    //     value: '123'
    // });
    // _li.name = '55'
    // console.log(_li.name);
    // console.log(_li);
</script> 

</body>
</html>