<!DOCTYPE html>
<html>
    <style>
        *{
            padding: 0;
            margin: 0;
            border: 0;
            overflow: hidden;
            box-sizing: border-box;
        }
        body{
            width: 100%;
            height: 100vh;
            background-image: url(./snow.webp);
            background-size: cover;
        }
    </style>
<body>
<canvas id="img" style="z-index: 1;"> </canvas>
<canvas id="canvas" style="position: fixed;top: 0;left: 0;z-index: 2;"> </canvas>

<script> 

    let canvas = document.querySelectorAll('canvas')[1]; 
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight; 
    let ctx = canvas.getContext('2d');
    let num = 200;
    let snows = [];  
    for (let i = 0; i < num; i++) {
        snows.push({
            x:Math.random()*canvas.width ,
            y:Math.random()*canvas.height,
            r:Math.random()*1*10+1
        })  
    } 

    let element;
    let move = ()=>{
        for (let i = 0; i < num; i++) {
            element = snows[i]; 
            element.x += Math.random()*2+1
            element.y += Math.random()*2+1
            if(element.x>canvas.width){
                element.x = 0
            }
            if(element.y>canvas.height){
                element.y = 0
            }  
        } 
    }
    let _darw = ()=>{
        ctx.clearRect(0,0,canvas.width,canvas.height)
        ctx.beginPath()
        ctx.fillStyle = 'rgb(255,255,255)'
        ctx.shadowColor = 'rgb(255,255,255)'
        ctx.shadowBlur = 10
        for (let i = 0; i < num; i++) {
            element = snows[i];
            ctx.moveTo(element.x,element.y)
            ctx.arc(element.x,element.y,element.r,0,Math.PI*2)
        }
        ctx.fill();
        ctx.closePath() 
        move(canvas.width,canvas.height)
    }
    
    _darw(canvas.width,canvas.height)
    setInterval(_darw,30)


</script> 

</body>
</html>